# F1 database

This repository hosts a SQLite database containing Formula 1 lap and race information for the seasons from 2014 to 2019 (i.e. the Formula 1 hybrid era with V6 engines). The database contains the following tables: drivers, fcyphases, laps, qualifyings, races, retirements and starterfields.

## Objective
This notebook aims to create a function to open a database connection and save all tables in separate datasets for study in python

In [1]:
#pip install nb_black
%load_ext nb_black

In [2]:
def transform_db_to_df(db_path):
    import sqlite3
    import pandas as pd
    from pandas import read_sql_query, read_sql_table
    
    with sqlite3.connect(db_path) as dbcon:
        table_list = list(read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", dbcon)['name'])
      
    for element in table_list:
        globals()[element] = pd.read_sql_query(f"SELECT * FROM  {element}", dbcon)
        print(f"O dataframe {element} foi criado com sucesso!")

In [3]:
path = "/Users/william.bendinelli/Github-Repositories/f1-race-simulation/databases/F1_timingdata_2014_2019.sqlite"
transform_db_to_df(path)

O dataframe drivers foi criado com sucesso!
O dataframe starterfields foi criado com sucesso!
O dataframe races foi criado com sucesso!
O dataframe qualifyings foi criado com sucesso!
O dataframe laps foi criado com sucesso!
O dataframe retirements foi criado com sucesso!
O dataframe fcyphases foi criado com sucesso!

In [8]:
retirements

     season  driver_id  accidents  failures
0      2014         43        NaN       NaN
1      2015         43        NaN       NaN
2      2016         43        NaN       NaN
3      2017         43        NaN       NaN
4      2018         43        NaN       NaN
..      ...        ...        ...       ...
265    2015         31        NaN       NaN
266    2016         31        3.0       2.0
267    2017         31        2.0       1.0
268    2018         31        NaN       NaN
269    2019         31        NaN       NaN

[270 rows x 4 columns]